# Default ignored files
/shelf/
/workspace.xml
/vcs.xml
/modules.xml
/misc.xml
/material_theme_project_new.xml
/OpenComputers_NTM_Integration.iml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

